<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{% block title %}Google Music Controller{% endblock %}</title>

  <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/main.css">
  {% block head %}
  {% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>