body, html{
  background-color: #4bf;
}
#main-content{
  background-color: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-bottom: 40px;
  box-shadow: 0 0 50px #000;
  position: relative;
}
.slider.slider-horizontal{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.slider-slection{
  background-color: #2fa4e7;
  background-image: none;
}
