{% extends 'base/base.html' %}

{% block title %}Desktop Command Remote{% endblock %}

{% block content %}
<div class="container" id="main-content">
  <div class="text-center">
    <h1>Desktop Command Remote</h1>
      <div id="command_block"></div>
      <div id="log_block"></div>
  </div>
</div>
{% raw %}
<script type="text/mustache" id="command_template">
  <h3>Available Commands</h3>
  {{#data}}
    {{#button}}
      <div class='btn btn-block btn-primary commandbtn {{options.buttonClass}}' data-id='{{id}}'>{{title}}</div>
    {{/button}}
    {{#slider}}
      <p>{{title}}</p>
      <input type="text" class="commandSlider" value="" data-slider-min="{{options.min}}" data-slider-max="{{options.max}}" data-slider-step="{{options.step}}" data-slider-value="{{options.value}}" data-id='{{id}}'>
    {{/slider}}
  {{/data}}  
</script>
<script type="text/mustache" id="log_template">
  {{^vis}}
    <a class='btn btn-default btn-block toggle_vis' href="#">Show Output</a>
  {{/vis}}
  {{#vis}}
    <a class='btn btn-default btn-block toggle_vis' href="#">Hide Output</a>
    <pre>{{#logs}}{{.}}{{/logs}}</pre>
  {{/vis}}
</script>
{% endraw %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  head.js(
    "/static/js/libs/underscore-min.js", // Needed for backbone
    "/static/js/libs/backbone-min.js", // Backbone is for better MVC support
    "/static/js/libs/backbone.marionette.min.js",
    "/static/js/libs/mustache.min.js", // Mustache is a nice templating library
    "/static/js/libs/socket.io.min.js", // Socket used for communication with the server
    "/static/js/libs/messenger.min.js", // Messenger Plugin
    "/static/js/libs/modernizr.min.js", // needed for slider
    "/static/js/libs/bootstrap-slider.js", // Slider plugin
    "/static/js/libs/bootbox.min.js", // Bootbox plugin
    "/static/js/controls.js" // main application
    );
  head.load(
    "/static/css/lib/messenger.css",
    "/static/css/lib/messenger-theme-air.css",
    "/static/css/lib/slider.css"
    );
</script>

{% endblock %}